body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #000000, #303030);
    background: linear-gradient(to bottom, #000000, #303030);
}

.logo-container {
    position: absolute;
    top: -3%; /* Adjust as needed */
    left: 3%; /* Adjust as needed */
}

/* Resize the logo */
.small-logo {
    width: 35%; /* Adjust percentage as needed */
    height: auto;
}